<div id="form-input-div" class="row">
    <div class="col-xs-12">
        <p> Add New Server!!</p>
        <label for="serverNameID">Server Name :</label>
        <input type="text" class="form-control" id="serverNameID" [(ngModel)] = "newServerName">

        <label for="serverContentID" style="margin-top:15px;">Server Content :</label>
        <input type="text" class="form-control" id="serverContentID" [(ngModel)] = "newServerContent">

        <br>

        <button 
             class="btn btn-primary" 
             (click)="addNewServer();">Add new Server</button>
        <button class="btn btn-primary margin-15px" 
            (click)="addNewBlueprint();">Add new Blueprint</button>
    </div>
</div>